@import "../../Styles/vars.scss";

.root {
  padding: 15px;
  box-shadow: 0 0 1rem 0 $transparent-shade;
  border-radius: 10px;
}

.tabList {
  display: flex;
  padding-left: 0;
}

.label {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}

.label:not(:first-child) {
  margin-left: -1px;
}

.tabContainer {
  background-color: $transparent-shade;
  margin-top: 0px;
  padding: 25px;
  height: 500px;
  width: 400px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $transparent-shade;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
